<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KelolaJasa">
        <activity
            android:name=".DaftarAkunActivity"
            android:exported="false" />
        <activity
            android:name=".MasukAkunActivity"
            android:exported="false" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".PemesananActivity" android:exported="false" />
        <activity android:name=".PesanJasaActivity" android:exported="false" />
        <activity android:name=".RingkasanPesananActivity" android:exported="false" />
        <activity android:name=".CustomerChatActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AdminDashboardActivity" android:exported="false" />
        <activity android:name=".RiwayatPesananActivity" android:exported="false" />
        <activity android:name=".CariActivity" android:exported="false" />
        <activity android:name=".KategoriActivity" android:exported="false" />
        <activity android:name=".DaftarFreelancerActivity" android:exported="false" />
        <activity android:name=".RincianPesananClientActivity" android:exported="false" />
        <activity android:name=".RincianPesananFreelancerActivity" android:exported="false" />
        <activity android:name=".DaftarChatActivity" android:exported="false" />
        <activity android:name=".KelolaJasaActivity" android:exported="false" />
        <activity android:name=".KelolaKategoriActivity" android:exported="false" />
        <activity android:name=".KelolaSatuanActivity" android:exported="false" />
        <activity android:name=".KelolaPenggunaActivity" android:exported="false" />
        <activity android:name=".KelolaFreelanceActivity" android:exported="false" />
        <activity android:name=".KelolaPengajuanActivity" android:exported="false" />
        <activity android:name=".KelolaBookingActivity" android:exported="false" />
        <activity android:name=".KelolaJasaFreelancer1Activity" android:exported="false" />
        <activity android:name=".KelolaJasaFreelancer2Activity" android:exported="false" />
        <activity android:name=".EditJasaFreelancerActivity" android:exported="false" />
        <activity android:name=".ProfilActivity" android:exported="false" />
        <activity android:name=".LayananKategoriActivity"/>
        <activity android:name=".ProfilInformasiAkunActivity" android:exported="false" />
        <activity android:name=".ProfilKontakAlamatActivity" android:exported="false" />
        <activity android:name=".ProfilKeamananActivity" android:exported="false" />
    </application>

</manifest>